/* mitr-300 - latin_thai */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 300;
    src: 
    url('fonts/mitr-v11-latin_thai-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  
  /* mitr-regular - latin_thai */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/mitr-v11-latin_thai-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  .form-group input, 
  .form-group select, 
  .form-group textarea {
      background-color: #f0f4f8; /* สีฟ้าอ่อน */
      border: 1px solid #d1d5db; /* เส้นขอบ */
      padding: 8px; /* ระยะห่างภายใน */
      border-radius: 4px; /* มุมโค้ง */
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* เพิ่มเงาเล็กน้อย */
  }
  
  .form-group input:focus,
  .form-group select:focus,
  .form-group textarea:focus {
      border-color: #3b82f6; /* เปลี่ยนสีขอบเมื่อโฟกัส */
      box-shadow: 0 0 10px rgba(59, 130, 246, 0.2); /* เพิ่มเงาเมื่อโฟกัส */
  }