<!-- ไฟล์ base.html -->
{% load static %} <!-- เพิ่มบรรทัดนี้ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'student/main.css' %}">
    <link rel="stylesheet" href="{% static 'student/normalize.css' %}">
</head>
<body>
  <div class="sidebar">
    <ul class="menu">
      {% if user.is_authenticated %}
      <li >
        <a href="{% url 'student_home' %}">
          <i class="fas fa-star"></i>
          <span>หน้าหลัก</span>
        </a>
      </li>
      <li>
        <a href="{% url 'check' %}">
          <i class="fas"></i>
          <span>ตรวจสอบหน่วยกิจ</span>
        </a>
      </li>
      <li>
        <a href="{% url 'record' %}">
          <i class="fas"></i>
          <span>แบบฟอร์มบันทึกหน่วยกิต</span>
        </a> 
      </li>
      <li>
        <a href="{% url 'createform' %}">
          <i class="fas"></i>
          <span>แบบฟอร์มขอลงสหกิจ</span>
        </a>
      </li>
      <li>
        <a href="{% url 'after_completed' %}">
          <i class="fas"></i>
          <span>แบบฟอร์มหลังจบสหกิจ</span>
        </a>
        <li class="logout">
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">ออกจากระบบ</button>
          </form>
        </li>
        
      {% else %}

      <li >
        <a href="{% url 'student_home' %}">
          <i class="fas fa-star"></i>
          <span>หน้าหลัก</span>
        </a>
      </li>
      <li >
        <a href="{% url 'login' %}">
          <span>เข้าสู่ระบบ</span>
        </a>
      </li>
      <li>
        <a href="{% url 'register' %}">
          <span>สมัครสมาชิก</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="main-content">
    <h2 class="top">ระบบติดตามการฝึกสหกิจ</h2>
    {% if user.is_authenticated %}
    <span> <p>ผู้ใช้งาน:  {{ user.first_name }}  {{ user.last_name }} </p></span>
    <span> <p> รหัส {{ user.id }} </p></span>
    {% endif %}
    
    {% block content %}

    {% endblock%}
  </div>
</body>
</html>