{% extends 'teacher/components/base.html' %}

{% block content %}
  <div class="list_name">
    <h2>ทะเบียนรายชื่อ</h2>
    <table border="1">
      <thead>
        <tr>
          <th>รหัสนักศึกษา</th>
          <th>ชื่อ</th>
          <th>นามสกุล</th>
          <th>อีเมล</th>
          <th>ชั่วโมงการอบรม</th>
          <th>สถานะคำขอลงสหกิจ</th>
          <th>สถานะเอกสารหลังจบสหกิจ</th>
          <th>แก้ไขข้อมูล</th>  
        </tr>
      </thead>
      <tbody>
        {% for item in user_data %}
        
          
          <tr>
            <td>{{ item.user.id }}</td>
            <td>{{ item.user.first_name }}</td>
            <td>{{ item.user.last_name }}</td>
            <td>{{ item.user.username }}</td> <!-- ควรใช้ 'email' แทน 'username' -->
            <td>{{ item.total_approved_score }}</td>
            <!-- แสดงสถานะคำขอลงสหกิจ -->
            <td>
              {% for form in item.form1 %}
                {{ form.status2 }}
              {% empty %}
                ไม่มีข้อมูล
              {% endfor %}
            </td>

            <!-- สถานะเอกสารหลังจบสหกิจ -->
            <td>
              {% for form in item.form2 %}
                {{ form.status3 }}
              {% empty %}
                ไม่มีข้อมูล
              {% endfor %}
            </td>

            <!-- ปุ่มสำหรับลบบัญชีผู้ใช้ -->
            <td>
              <form method="post" action="{% url 'delete_name' item.user.pk %}">
                {% csrf_token %}
                <button type="submit">ลบบัญชีผู้ใช้</button>
              </form>
            </td>
          </tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>
{% endblock %}
