{% extends 'teacher/components/base.html' %}

{% block content %}
<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4" style="color: blue;">รายการสหกิจศึกษา</h2>

  <!-- เพิ่ม overflow-x-auto เพื่อให้ตารางสามารถเลื่อนได้ถ้ามันกว้างเกินไป -->
  <div class="overflow-x-auto">
    <table class="w-full bg-white border-collapse">
      <thead>
        <tr class="bg-gray-100 text-left">
          <th class="p-2 border">ชื่อ</th>
          <th class="p-2 border">หัวข้อ</th>
          <th class="p-2 border">เอกสารรับรอง</th>
          <th class="p-2 border">จำนวนชั่วโมงหน่วยกิต</th>
          <th class="p-2 border">สถานะ</th>
          <th class="p-2 border">ตรวจสอบเอกสาร</th>
        </tr>
      </thead>
      <tbody>
        {% for coop in coops %}
          <tr class="hover:bg-gray-50"> <!-- เปลี่ยนสีเมื่อ hover -->
            <td class="p-2 border">{{ coop.user.first_name }}</td>
            <td class="p-2 border">{{ coop.title }}</td>
            <td class="p-2 border">
              <a href="{{ coop.certificate.url }}" target="_blank" class="text-blue-500 hover:underline">ดูเอกสาร</a>
            </td>
            <td class="p-2 border">{{ coop.score }}</td>

            <!-- สีตามสถานะ -->
            <td class="p-2 border">
              <span class="{% if coop.status == 'approved' %} text-green-500
                            {% elif coop.status == 'pending' %} text-yellow-500
                            {% else %} text-red-500
                          {% endif %}">
                {{ coop.status }}
              </span>
            </td>

            <!-- ปุ่มสำหรับตรวจสอบและอนุมัติ -->
            <td class="p-2 border">
              <!-- ปุ่มสำหรับลบ -->
              <form method="post" action="{% url 'delete_record' coop.pk %}" style="text-align: center;"> 
                {% csrf_token %}
                <button type="submit" style="width: 80px;" class="bg-red-500 text-white rounded px-2 py-1">  ลบ  </button>
              </form>

              <!-- ปุ่มสำหรับอนุมัติหากสถานะเป็น 'pending' -->
              {% if coop.status == 'pending' %}
                <form method="post" style="margin: 2px;text-align: center;" action="{% url 'change_status' coop.pk %}">
                  {% csrf_token %}
                  <input type="hidden" name="status" value="approved">
                  <button type="submit" style="width: 80px;" class="bg-green-500 text-white rounded px-2 py-1">อนุมัติ</button>
                </form>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
