{% extends 'teacher/components/base.html' %}
{% block content %}
<body>
    <h2>ตรวจสอบเอกสาร</h2>
    <table border="1">
        <thead>
            <tr>
                
                <th>รหัสนักศึกษา</th>
                <th>ชื่อ</th>
                <th>วันที่</th>
                <th>เอกสาร</th>
                <th>จำนวนชั่วโมงหน่วยกิต</th>
                <th>สถานะ</th>
            </tr>
        </thead>
        <tbody>
            {% for item in user_forms_data %}
                {% for form in item.forms %}
                    <tr>
                        <td>{{ item.user.id }}</td>
                        <td>{{ item.user.first_name }}   {{ item.user.last_name }}</td>
                        <td>{{ form.date2 }}</td>
                        <td><a href="{{ form.certificate2.url }}" target="_blank">ดูเอกสาร</a></td>
                        <td>
                            {{ form.status2 }}
                            <form method="post" action="{% url 'delete_record' form.pk %}">
                                {% csrf_token %}
                                <button type="submit">ลบ</button>
                            </form>
                        </td>
                        <!-- การอนุมัติหากสถานะเป็น 'pending' -->
                        <td>
                            {% if form.status2 == "pending" %}
                                <form method="post" action="{% url 'change_status2' form.pk %}">
                                    {% csrf_token %}
                                    <input type="submit" value="อนุมัติ">
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}
