{% extends 'staff/components/base.html' %}
{% block content %}

<div class="flex justify-center items-center min-h-screen px-4"> <!-- เพิ่มพื้นที่เสริมด้านข้าง -->
  <div class="w-full md:w-3/4 bg-white p-8 rounded-lg shadow-lg mt-8"> <!-- ปรับขนาดเพื่อให้เหมาะสมกับหน้าจอ -->
    <div class="space-y-6"> <!-- จัดระยะห่างระหว่างเนื้อหา -->
      {% for item in publishes reversed %} <!-- เรียงลำดับโพสต์ใหม่สุดไว้ข้างบน -->
        <div class="p-4 border border-gray-300 rounded-lg mb-6"> <!-- เพิ่มขอบและระยะห่าง -->
          <h3 class="text-lg font-semibold mb-2">{{ item.title }} ({{ item.user.first_name}} {{item.user.last_name }})</h3>
          <p class="text-gray-700 mb-4">{{ item.content }}</p> <!-- เพิ่มสีข้อความ -->
          {% if item.image %}
          <img src="{{ item.image.url }}" alt="Image" class="w-full h-auto rounded-lg"> <!-- ปรับขนาดของรูปภาพ -->
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}